// Widescreens
@include mediaXl {
  .menu-btn {
    display: none;
  }

  .menu {
    display: none;
  }

  .label-input {
    font-size: 20px;
  }
}

// Desktops & Laptops
@include mediaLg {
  .auth-main {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .auth-main h1 {
    font-size: 8rem;
  }

  .auth-card {
    margin: 0;
  }

  .card-title {
    font-size: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .card-action button {
    font-size: 1.65rem;
  }

  .label-input {
    font-size: 20px;
  }
}

// Tablets & Small Laptops
@include mediaMd {
  .auth-main {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .auth-card {
    margin: 0;
  }

  .card-title {
    font-size: 48px !important;
  }

  .card-action button {
    font-size: 18px;
  }

  nav {
    background-color: transparent;
    box-shadow: none;
  }

  .label-input {
    font-size: 15px;
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .logo {
      width: 120px;
      height: 120px;
      background: $logo-image;
      border-radius: 30%;
      background-size: cover;
      border: 2px solid $secondary-color;
    }
  }
}

// Smartphones
@include mediaSm {
  .auth-main {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .auth-card {
    width: 90vw;
    margin: 0;
  }

  .label-input {
    font-size: 15px;
  }
}
