@import "config";
@import "_dropDownMenu.scss";

@import "~materialize-css/dist/css/materialize.min.css";
// @import "bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  background: url(../imgs/sunset.jpg);
  background-size: cover;
  background-position-x: bottom;
  background-position-y: center;
}

header {
  //   position: absolute;
  width: 100%;
}

.navbar {
  padding: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.links-table {
  background-color: rgba(242, 242, 242, 0.5);
}

.margin-0 {
  margin: 0rem 0 1.424rem 0;
}

.text-center {
  text-align: center;
}

@media screen and (min-width: 1170px) {
  /* .menu-btn {
    display: none;
  }

  .menu {
    display: none;
  } */
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .auth-main {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .auth-main h1 {
    font-size: 8rem;
  }

  .auth-card {
    margin: 0;
  }

  .card-title {
    font-size: 5rem !important;
    margin-bottom: 5rem !important;
  }

  .input-field label {
    clear: both;
    font-size: 3rem;
  }

  .card-action button {
    font-size: 1.65rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  /* .navbar {
    display: none;
  } */
}

@media screen and (max-width: 769px) {
  .auth-main {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .auth-card {
    margin: 0;
  }

  .card-title {
    font-size: 48px !important;
  }

  .input-field label {
    font-size: 24px;
  }

  .card-action button {
    font-size: 18px;
  }

  /* .navbar {
    display: none;
  } */
}

@media screen and (max-width: 500px) {
  .auth-main {
    width: 100% !important;
    padding: 0 !important;
    margin: auto !important;
    text-align: center;
  }

  .auth-card {
    width: 90vw;
    margin: 0;
  }

  nav {
    background-color: transparent;
    box-shadow: none;
  }

  .navbar {
    display: none;
  }
}
