@import "config";
@import "dropDownMenu";
@import "mobile";

@import "~materialize-css/dist/css/materialize.min.css";
// @import "bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  background: url(../imgs/sunset.jpg);
  background-size: cover;
  background-position-x: bottom;
  background-position-y: center;
}

header {
  //   position: absolute;
  width: 100%;
}

.navbar {
  padding: 0 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.loader {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.links-table {
  background-color: rgba(242, 242, 242, 0.5);
}

.margin-0 {
  margin: 0rem 0 1.424rem 0;
}

.text-center {
  text-align: center;
}

.card-content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
